html,
body {
  margin: 0;
  padding: 0;
}

.templateTContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.templateTContentarea {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
